# Copy this file into a new file called ".env" in the root of the project.
# The dotenv gem will load the contents of .env into the environment when
# Rails starts. Access values like this: ENV["RAILS_SECRET_KEY_BASE"]
#
# The purpose of this file is to keep secrets out of source control.
# For more information, see: https://github.com/bkeepers/dotenv

SECRET_KEY_BASE=cd37613c109c101a1487a5452ad14a5fd69aded6b8bc39095bbc660fce10d290a6cb502df00937b02ebae04bd54f215d071d6a93fc6b4b235a0d1ea50c199ddd
REDIS_URL=redis://localhost:6379/12
SIDEKIQ_WEB_USERNAME=admin
SIDEKIQ_WEB_PASSWORD=password
