<% provide(:title, "Craig Lipski") %>
<% provide(:page_subhead, "Sr. Director, Application Development") %>

<div class="row wrap">
  <div class="col-md-8 offset-md-2 col-lg-4 offset-lg-0 text-center">
    <%= image_tag asset_path('craig.png'), class: "img-fluid" %>
  </div>
  <div class="col-md-12 col-lg-8 mt-2">
    <ul class="pl-4">
      <li>13 years architecting and developing digital solutions for pharmaceutical / biotech companies in an agency setting from CME / eLearning modules to live interactive symposia engagement tools to full web and mobile applications
      <li>Experienced in all aspects of application development and deploying solutions in both public and corporate enterprise domains
      <li>Expert in integrating new solutions with existing legacy architectures, and ensuring receipt of solid, sound deliverables
      <li>Lead previous teams in developing state-of-the-art digital tactics for:
        <ul>
          <li>live meeting engagement applications
          <li>robust content management systems for slide and scientific platform curation
          <li>native applications for tracking training and resource management
          <li>global disease awareness campaigns inclusive of web portal, social campaigns and integrated data management
        </ul>
      <li>Design, architect and manage the development of digital solutions to align with business requirements
      <li>Analyze and recommend technical strategy for application / solution implementation
      <li>Ensure best practices are adhered to from design, development, QA, version control, deployment and maintenance
      <li>Manage staff of developers, usability experts and digital designers to ensure clear messaging optimized for the appropriate channel
      <li>Oversees development scope and timeline
      <li>Dual BA (Digital Art/ Multimedia Design & Mass Communication) from LaSalle University, 2003

    </ul>
  </div>
</div>
