<% provide(:title, "Drew Bragg") %>
<% provide(:page_subhead, "Full Stack Developer") %>

<div class="row wrap">
  <div class="col-12 text-center">
    <%= image_tag asset_path('placeholder-person.png'), class: "image-fluid" %>
  </div>
  <div class="col-12 mt-2">
    <ul>
      <li>Full-stack developer with 10+ years of programming experience
      <li>Top Graduate from Launch Academy: an 18-week - intensive, full-stack, and immersive web development and software engineering program.
      <li>Focused on creating client-focused, flexible applications using open-source technologies to solve client needs
      <li>Experienced in developing custom browser-based software applications
      <li>Experienced in various languages and technologies such as Ruby, Sinatra, Ruby on Rails, JavaScript, React.js, Vue.js, Stimulus JS, jQuery, C, Java, Go, and SQL
      <li>Specialist in Ruby on Rails and Vue.js
      <li>Experienced in deploying/integrating to complex host environments and corporate infrastructures
      <li>Recipient of several Google scholarship for development advancement
      <li>Active contributor to the open-source development community
      <li>Mentor to several student coding groups
    </ul>
  </div>
</div>
