<% provide(:title, "Rick Lang") %>
<% provide(:page_subhead, "SVP, Digital") %>

<div class="row wrap">
  <div class="col-md-8 offset-md-2 col-lg-4 offset-lg-0 text-center">
    <%= image_tag asset_path('rick.png'), class: "img-fluid" %>
  </div>
  <div class="col-md-12 col-lg-8 mt-2">
    <ul class="pl-4">
      <li>18 years experience partnering with the world’s pharmaceutical and biotechcompanies to navigate today’s technologic landscape and drive positive behavioral change.
      <li>Keen focus on optimizing each audience’s experience of content to ensure impact and retention,with specialized expertise in HCP user experience.
      <li>Full-cycle solution-oriented; strategically concepting engaging and effective programs, providing hands-on support through all development phases, and ensuring seamless implementation and ongoing administration, all with measurable results.
      <li>Produces impactful and effective scientific visualizations through animation and video production to ensure HCPs easily gleam the most important information and healthcare organizations can efficiently reuse assets.
      <li>Implements adult learning and instructional design principles when developing technology-based training solutions to ensure all learning styles are appropriately addressed.
      <li>Deep technical background originating from the fields of audio, video, and multimedia.
      <li>Hands-on digital leader that is rarely siloed to strategic support. Provides optimized value when leveraged through the entire programming process from initial brainstorm and recommendations through delivery and training, to post-programming insights and informed adjustment.
    </ul>
    <p>
      Rick received his Bachelor of Arts in Mass Communication from LaSalle University in Philadelphia, where he also incorporated an elective concentration in Digital Arts and Multimedia.
    </p>
  </div>
</div>
