<% provide(:title, "Rick Lang") %>
<% provide(:page_subhead, "SVP, Digital") %>

<div class="row wrap">
  <div class="col-md-8 offset-md-2 col-lg-4 offset-lg-0 text-center">
    <%= image_tag asset_path('rick.png'), class: "img-fluid" %>
  </div>
  <div class="col-md-12 col-lg-8 mt-2">
    <ul class="pl-4">
      <li>With more than 16 years experience partnering with the world’s pharmaceutical and biotechcompanies, Rick is fluent in navigating the digital landscape to drive behavioral change.
      <li>His expertise lies in providing full-cycle digital solutions; strategically concepting the mostengaging and effective programs, providing project support in process through all development phases, and ensuring seamless and ongoing implementation, all with measurable results.
      <li>Rick is also responsible for producing impactful and effective scientific visualizations in the form of animation and video production to ensure healthcare professionals can easily gleam the most important information and healthcare organizations can efficiently reuse assets.
      <li>Rick focuses on the latest adult learning and instructional design principles when developing and implementing technology-based training solutions, to ensure all of the varied learning styles of adult audiences are appropriately addressed to maximize retention.
      <li>With a deep technical background originating from the field of multimedia, Rick is a hands-on digital leader.  Rarely only providing strategic support, his value is optimized when leveraged through the entire digital programming process, from brainstorm through delivery to post-programming insights.
    </ul>
    <p>
      Rick received his Bachelor of Arts in Mass Communication from LaSalle University in Philadelphia, where he also incorporated an elective concentration in Digital Arts and Multimedia.
    </p>
  </div>
</div>
