<% provide(:title, "Cello Health Digital Team") %>

<div class="row wrap">
  <div class="col-md-12 col-lg-4">
    <a href="/team/rick">
      <div class="row wrap">
        <div class="col-12 text-center">
          <%= image_tag asset_path('rick.png'), {class: "", style: "height:330px;width:330px;"} %>
        </div>
        <div class="col-12 text-center">
          Rick
        </div>
      </div>
    </a>
  </div>
  <div class="col-md-12 col-lg-4">
    <a href="/team/craig">
      <div class="row wrap">
        <div class="col-12 text-center">
          <%= image_tag asset_path('craig.png'), {class: "", style: "height:330px;width:330px;"} %>
        </div>
        <div class="col-12 text-center">
          Craig
        </div>
      </div>
    </a>
  </div>
  <div class="col-md-12 col-lg-4">
    <a href="/team/drew">
      <div class="row wrap">
        <div class="col-12 text-center">
          <%= image_tag asset_path('drew.jpg'), {class: "", style: "height:330px;width:330px;"} %>
        </div>
        <div class="col-12 text-center">
          Drew
        </div>
      </div>
    </a>
  </div>
</div>
