<% provide(:title, "Cello Health Digital Team") %>

<a href="/team/rick">
  <div class="row wrap">
    <div class="col-12 text-center">
      <%= image_tag asset_path('placeholder-person.png'), class: "image-fluid" %>
    </div>
    <div class="col-12 text-center">
      Rick
    </div>
  </div>
</a>

<a href="/team/craig">
  <div class="row wrap">
    <div class="col-12 text-center">
      <%= image_tag asset_path('placeholder-person.png'), class: "image-fluid" %>
    </div>
    <div class="col-12 text-center">
      Craig
    </div>
  </div>
</a>


<a href="/team/drew">
  <div class="row wrap">
    <div class="col-12 text-center">
      <%= image_tag asset_path('placeholder-person.png'), class: "image-fluid" %>
    </div>
    <div class="col-12 text-center">
      Drew
    </div>
  </div>
</a>
